$color-red : red;
$color-gray: rgb(65, 64, 64);
$color-blue: rgb(128, 128, 241);
$color-darker-blue: rgb(93, 93, 228);

.post-list {
    list-style: none;
    background-color: $color-blue;
    border-radius: 8px;
    
    .post {
        color: $color-gray;

        span {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }

    &:hover {
        background-color: $color-darker-blue;
    }
    
    
}