<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <a href="/exercise">홈</a>
    <a href="/signup">회원가입</a>
    <a href="/login">로그인</a>
    <a href="/update">회원정보 수정</a>
    <a href="/delete">회원정보 삭제</a>
    <h1>회원정보 삭제</h1>
    <input type="hidden" id="realId" value="<%= userInfo.id %>">
    <form name="form">
      <input type="text" value="<%= userInfo.userid %>" readonly>
      <input type="text" placeholder="바꿀이름" value="<%= userInfo.name %>" name="nextname" />
      <input type="password" placeholder="바꿀pw" value="<%= userInfo.pw %>" name="nextpw" />

      <button type="button" onclick="update()">회원수정</button>
    </form>
    <hr />
    <form action="/" name="deleteform">
      <button type="button" onclick="del()">회원 삭제</button>
    </form>
    <div id="place"></div>
    <script>
      function del() {
        const delForm = document.forms["deleteform"];
        const realId = document.querySelector('#realId');
        data = {
          id: realId.value,
        };
        axios({
          method: "delete",
          url: "/update",
          data: data,
        }).then(function (res) {
          console.log(res.data);
          console.log("삭제 성공!");
          document.querySelector('#place').textContent = res.data;
        });
      }

      function update() {
        const form = document.forms["form"];
        const realId = document.querySelector('#realId');
        data = {
          id: realId.value,
          nextname: form.nextname.value,
          nextpw: form.nextpw.value,
        };
        axios({
          method: "patch",
          url: "/update",
          data: data,
        }).then(function (res) {
          console.log(res.data);
          console.log("수정 성공!");
          document.querySelector('#place').textContent = res.data;
        });
      }
    </script>
  </body>
</html>
