<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
   
        <% if (!isAuth) {%>
            <button>회원가입</button>
            <button>로그인</button>
        <% } else {%>
            <form action="/logout" method="post">
                <button>로그아웃</button>
            </form>
        <% } %>
    </header>
    <main>
        <% if (!isAuth) {%>
        <form action="/login" method="post">
            <input type="text" placeholder="아이디" name="id">
            <input type="password" placeholder="비밀번호" name="pw">
            <button>로그인</button>
        </form>
        <% } else { %>
        <p><%= userid %> 님 환영합니다!</p>
        <% } %>
    </main>
</body>
</html>