.App {
  text-align: center;
}

.App h2 {
  text-align: left;
}

.App h2 strong {
  text-decoration: underline;
}

.App .loginTitle {
  background-color: beige;
  color: rgb(168, 168, 36);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
